body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
  color: white;
}

.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

header {
  padding: 20px;
}

.stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.stat-item {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1,
.stat-item {
  color: #4caf50;
}

.circular-progress-bar {
  font-size: 50px; /* Adjust size as needed */
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: conic-gradient(
    #4caf50 0%,
    #4caf50 var(--progress),
    #ddd var(--progress),
    #ddd 100%
  );
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circular-progress-bar::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  background: white;
  width: calc(100% - 0.2em); /* smaller than parent */
  height: calc(100% - 0.2em); /* smaller than parent */
  z-index: 1;
}

.percent-value {
  position: relative;
  z-index: 2;
}
